@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Rajdhani:wght@300&display=swap');

/* Nav Bar */
#logo {
    width: 150px;
}

header {
    background-color: rgb(10, 54, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    padding: 0%;
    margin: 0%;
}
header li {
    display: inline-block;
    padding: 20px 20px;
}

header li:hover {
    transition: all 0.5s ease-in-out;
    background-color: rgb(59, 142, 197);
}

a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/* Slideshow */
#SlidesTitle {
    font-family: "Mochiy Pop One";
    margin: 0%;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

#slider {
    overflow: hidden;
}

#slider figure {
    position:relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    float: left;
    background-color: rgb(189, 216, 247);
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding-right: 5%;
    padding-left: 7%;
    height: 500px;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -90%;
    }
    45% {
        left: -90%;
    }
    50% {
        left: -180%;
    }
    70% {
        left: -180%;
    }
    75% {
        left: -270%;
    }
    95% {
        left: -270%;
    }
    100% {
        left: -354%;
    }
}

/* About me */
#profile {
    height: 410px;
    background-color: rgb(189, 216, 247);
    border: 5px solid black;
    border-radius: 25px;
}
#profile img {
    float: left;
    height: 400px;
    border-radius: 10%;
    border: 5px solid white;
}

#title {
    font-family: "Mochiy Pop One";
    text-align: center;
    font-size: 30px;
}

#aboutMe {
    font-family: "Rajdhani";
    font-size:25px;
    font-weight:bolder;
}

/* Contact information */

#contact_container {
    background-color: rgb(10, 54, 83);
    border-radius:20px
}

#contact_container p {
    text-align: center;
    font-family: "Mochiy Pop One";
    font-size: larger;
    color: white
}
.contact_image{
    height: 70px;
}

#image_container {
    display: flex;
    padding-left: 500px;
    padding-right: 500px;
    justify-content: space-evenly;
    color: white;
}

#gmail_container, #instagram_container {
    display: flex;
    font-weight: lighter;
    font-size: smaller;
} 